/* Font */
$default-font-size: 1.6rem;
$default-font-size-home: 1.4rem;

/* Margin */
$layout-space: 0 9.6rem;
$layout-space-tb: 4.8rem 9.6rem;

$layout-space-1000: 0 4.8rem;
$layout-space-tb-1000: 2.4rem 4.8rem;

$layout-space-600: 0 2.4rem;
$layout-space-tb-600: 1.8rem 2.4rem;
